@font-face {
  font-family: monofonto;
  src: url("../fonts/monofonto.ttf");
}
html, body, #vue-app, .body, .body > div, .body > div > div, .right-column {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  background: #001300;
  color: #5fFFA0;
  font-family: monofonto, serif;
  font-size: 150%;
}

.menu-button {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
}

.top-menu-button {
  padding: 0 0.5vw 0.2vh 0.5vw;
  font-weight: bold;
  text-shadow: 0 0 3px #5FFF81;
  margin-bottom: -3px;
}

.submenu-button {
  color: #1f593c;
}

.submenu-fade {
  color: #053522;
}

.active-submenu-button {
  color: #5fFFA0;
  font-weight: bold;
  text-shadow: 0 0 3px #5FFF81;
}

.active-menu-button {
  border: #5FFF81 solid 5px;
  border-bottom: none;
  padding-bottom: 0.25em;
  background: #001300;
}

.top-menu > ul, .submenu > ul {
  list-style-type: none;
}

.top-menu > ul > li, .submenu > ul > li {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 0;
}

.top-menu > ul > li {
  width: 15vw;
}

.submenu > ul > li, .submenu > ul > li > button {
  width: 8vw;
}

.active-menu-li {
  height: 50%;
  margin-bottom: -1px;
}

.top-menu {
  border-bottom: #5FFF81 solid 4px;
  margin-bottom: -1vh;
  padding-bottom: -1vh;
  padding-left: 10vw;
  font-size: 130%;
}

.submenu {
  padding-left: 6vw;
}

.top-menu > ul {
  margin-bottom: 0;
}

.body {
  padding: 0.5em 3em;
}

.submenu-scoot-left {
  margin-left: -15vw;
}

.submenu-scoot-right {
  margin-left: 15.5vw;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.left-column.list-view, .right-column.list-view {
  width: 45%;
}

.list-view > ul {
  list-style-type: none;
}

.list-view > ul > li {
  clear: both;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.active-list-item {
  background: #5fFFA0;
  color: #001300;
}

.list-item {
  cursor: pointer;
  padding: 0 0.75em;
  display: inline-block;
  width: 86%;
  overflow-x: hidden;
  vertical-align: bottom;
  /* https://stackoverflow.com/a/43266155/3171303 */
}

.favorite {
  padding-left: 0.25em;
}

.equipped {
  padding-left: 0.25em;
  list-style-type: square;
  list-style-position: inside;
}

li.equipped > .list-item {
  padding-left: 0;
  margin-left: -0.275em;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8vh;
}

.footer > div {
  background: #1f593c;
  display: inline-block;
  width: 31vw;
}

.footer > div > span {
  margin-left: 1vw;
}

.section-one {
  margin-left: 1.5vw;
}

.section-three {
  text-align: right;
  padding-right: 1vw;
}

.list-animation, #status-animation {
  filter: contrast(140%);
  height: 309px;
  width: 437px;
  background-repeat: no-repeat;
  background-color: #5fFFA0;
  background-blend-mode: multiply;
  background-size: cover;
}

.animation {
  margin-top: -5vh;
}

.description {
  margin-top: -2vh;
  padding-top: 0;
  z-index: 100;
}

#status-body-container {
  position: absolute;
  left: calc(50vw - 240px);
}

#status-animation {
  background-image: url("../animations/misc/Status.gif");
  background-size: cover;
  margin: 5vh auto;
  height: 320px;
  width: 480px;
}

.health-bar {
  height: 1vh;
  width: 3vw;
  background-color: #5fFFA0;
  z-index: 100;
}

.head-health-bar {
  position: absolute;
  left: 45%;
  top: 12%;
}

.left-arm-health-bar {
  position: absolute;
  left: 20%;
  top: 40%;
}

.right-arm-health-bar {
  position: absolute;
  right: 20%;
  top: 40%;
}

.left-leg-health-bar {
  position: absolute;
  left: 20%;
  top: 70%;
}

.right-leg-health-bar {
  position: absolute;
  right: 20%;
  top: 70%;
}

.body-health-bar {
  position: absolute;
  left: 45%;
  top: 90%;
}

#experience-bar {
  display: inline-block;
  height: 1.75vh;
  width: 16vw;
  border: solid 2px #5fFFA0;
}

.experience-full {
  display: block;
  background-color: #5fFFA0;
  height: 1.75vh;
  width: 34%;
}

@media (max-width: 900px) {
  body {
    font-size: 120%;
  }
}
@media (max-width: 700px) {
  body {
    font-size: 100%;
  }

  .list-animation {
    height: 200px;
    width: 280px;
  }

  #status-animation {
    height: 250px;
    width: 320px;
  }

  #status-body-container {
    left: calc(50vw - 160px);
  }

  .description {
    font-size: 80%;
  }

  .animation {
    margin-top: -10vh;
  }

  .head-health-bar {
    top: 0;
  }
}
@media (max-width: 510px) {
  body {
    font-size: 80%;
  }

  #status-animation {
    height: 200px;
    width: 280px;
  }

  #status-body-container {
    left: calc(50vw - 140px);
  }
}

/*# sourceMappingURL=styles.css.map */
