<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Pip-Boy 3000 Mark IV</title>
	<meta name="description" content="Pip-Boy 3000 Mark IV">
	<meta name="author" content="thunderblaster">

	<link rel="stylesheet" href="css/styles.css?v=1.0">
	<script src="js/jquery.min.js"></script>
	<script src="js/vue.js"></script>
	<script defer src="js/app.js"></script>
</head>
<body>
	<div id="vue-app">
		<div class="menu-system">
			<div class="top-menu">
				<ul>
					<li v-for="(menu, index) in menus" >
						<button @click="switchMenu(index)" class="top-menu-button menu-button" :class="{ 'active-menu-button': activeMenu===index }">{{menu.name}}</button>
					</li>
				</ul>
			</div>
			<div v-if="menus[activeMenu].submenus.length>0" :class="menus[activeMenu].submenuClasses">
				<ul>
					<li><button v-if="activeSubMenu>1" @click="switchSubMenu(activeSubMenu-2)" class="submenu-button menu-button submenu-fade">{{menus[activeMenu].submenus[activeSubMenu-2].name}}</button></li>
					<li><button v-if="activeSubMenu>0" @click="switchSubMenu(activeSubMenu-1)" class="submenu-button menu-button">{{menus[activeMenu].submenus[activeSubMenu-1].name}}</button></li>
					<li><button v-if="menus[activeMenu].submenus.length>0" class="submenu-button menu-button active-submenu-button">{{menus[activeMenu].submenus[activeSubMenu].name}}</button></li>
					<li><button v-if="activeSubMenu+1<menus[activeMenu].submenus.length" @click="switchSubMenu(activeSubMenu+1)" class="submenu-button menu-button">{{menus[activeMenu].submenus[activeSubMenu+1].name}}</button></li>
					<li><button v-if="activeSubMenu+2<menus[activeMenu].submenus.length" @click="switchSubMenu(activeSubMenu+2)" class="submenu-button menu-button submenu-fade">{{menus[activeMenu].submenus[activeSubMenu+2].name}}</button></li>
				</ul>
			</div>
		</div>
		<div class="body">
			<div v-if="menus[activeMenu].submenus.length>0"><p>You are viewing the {{menus[activeMenu].submenus[activeSubMenu].name}} screen.</p>
				<div v-if="menus[activeMenu].submenus[activeSubMenu].type==='List'">
					<div class="left-column list-view align-left">
						<ul>
							<li v-for="(item, index) in menus[activeMenu].submenus[activeSubMenu].items" class="clearfix" :class="{ equipped: item.equipped, 'active-list-item': activeListItem===index }">
								<div @click="activeListItem=index" class="list-item"><span>{{item.name}}</span><span v-if="item.quantity">({{item.quantity}})</span><span v-if="item.favorite" class="favorite">♥</span><div v-if="item.value" class="align-right">{{item.value}}</div></div>
							</li>
						</ul>
					</div>
					<div class="right-column list-view align-right">
						You are viewing {{menus[activeMenu].submenus[activeSubMenu].items[activeListItem].name}}.
					</div>
				</div>
			</div>
			<div v-else><p>You are viewing the {{menus[activeMenu].name}} screen.</p></div>
		</div>
	</div> <!-- /app -->
</body>
